[package]
name = "rakaly"
version = "0.3.4-pre"
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
edition = "2018"
publish = false

[dependencies]
jomini = "0.13"
eu4save = "0.4"
imperator-save = "0.2"
ck3save = "0.2"
hoi4save = "0.1"
argh = "0.1"
memmap = "0.7"
anyhow = "1"
flate2 = { version = "1", features = ["zlib-ng-compat"], default-features = false }
attohttpc = { version = "0.17", features = ["json"] }
native-tls = { version = "0.2", features = ["vendored"] }
serde = { version = "1",   features = ["derive"] }
toml = "0.5"
directories = "3"
base64 = "0.13"
fern = "0.6"
log = "0.4"


[dev-dependencies]
assert_cmd = "1"

[profile.release]
lto = "thin"
