[package]
name = "rakaly"
version = "0.4.23"
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
edition = "2018"
publish = false

[dependencies]
jomini = "0.25"
eu4save = { git = "https://github.com/rakaly/eu4save.git", default-features = false, features = ["libdeflate"] }
imperator-save = { git = "https://github.com/rakaly/imperator-save.git", default-features = false, features = ["libdeflate"] }
ck3save = { git = "https://github.com/rakaly/ck3save.git", default-features = false, features = ["libdeflate"] }
hoi4save = { git = "https://github.com/rakaly/hoi4save.git" }
vic3save = { git = "https://github.com/pdx-tools/pdx-tools", features = ["libdeflate"]  }
argh = "0.1"
memmap = "0.7"
anyhow = "1"
attohttpc = { version = "0.26", features = ["json"] }
native-tls = { version = "0.2", features = ["vendored"] }
serde = { version = "1",   features = ["derive"] }
toml = "0.8"
directories = "5"
base64 = "0.21"
fern = "0.6"
log = "0.4"
zip_next = { version = "0.10.0", default-features = false, features = ["deflate", "zstd"] }
zstd = { version = "0.13.0", default-features = false }

[dev-dependencies]
assert_cmd = "2"

[profile.release]
lto = "thin"
